{% extends "base.html" %}

{%block title%}{{User}}


{%endblock%}


{%block content%}
<script type="text/javascript">
    var myvar = '{{my_username}}';
    console.log(myvar);


 </script>


<p>Todays date is:<u label="today"></u></p>
<input type="text" id="message"/><button type="button" id="sendbutton" oonclick="sendUserInfo()">Send</button>

<script>
    function sendUserInfo() {
        let userinfo = {
            'name': '{{User}}',
            'message': document.getElementById("message").value
        }
        const request = new XMLHttpRequest()
        request.open('POST', '/processUserInfo/${JSON.stringify(userinfo)}')
        request.onload = () => {
            const flaskmessage = request.responseText
            console.log(flaskmessage)
        }
        request.send()

    }
    

</script>


<!--
<div class="chat_window">
    <div class="top_menu">
        <div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div>
        <div class="title">Chat</div>
    </div>
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper">
            <input class="userinput" placeholder="Type your message here..." />
        </div>
        <div class="send_message">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
    </li>
</div>
-->


<p id="words"></p>


<button type="button" class="btn btn-outline-primary logoutbutton"><a href="/logout">Logout</a></button>
{%endblock%}