{% extends "base.html" %}

{%block title%}User{%endblock%}


{%block content%}




    {% with messages = get_flashed_messages() %}
        {%if messages%}
            {%for msg in messages %}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {%endwith%}

<p>Welcome, {{user}}</p>


<form id="form" onsubmit="return false;">
    <input type="text" id="userinput"/>
    <input type="submit" onclick="printtext()"/>
</form>

<script>
    function printtext(){
        var usertext = document.getElementById("userinput").value;
        
        alert(usertext);

        document.getElementById("userinput").value = " ";
    }

</script>
<button type="button" class="btn btn-outline-primary logoutbutton"><a href="/logout">Logout</a></button>
{%endblock%}